.navdar
{
    height: 80px;
}
.navdar-brand
{
    font-size: 1.5rem;
}
.custom {
    background-color: lightgray;
}
.yo
{
    display: flex; 
    justify-content: right;
}

.border {
    border-radius: 1rem;
}
