.badge
{
    margin: 2px;
    font-size: 150%;
    
}
label
{
    font-size: 150%;
    color: white;
    
}

.color
{
    color: white;
    font-size: 150%;
}
.raig
{
   display: flex;
   justify-content: right; 
}
.center
{
    
   display: flex;
   justify-content: center; 
}

.fas {
    
    cursor: pointer;
    margin-left: 7px;
}


